<div class="cs-hex-inv-container">
  <div class="cs-hex-inv-item">
    <div>Warriors</div>
    <div>{{numberInput warriors name="warriors" step=1 min=0 max=1000}}</div>
  </div>
  <div class="cs-hex-inv-item">
    <div>Foragers</div>
    <div>{{numberInput foragers name="foragers" step=1 min=0 max=1000}}</div>
  </div>
  <div class="cs-hex-inv-item">
    <div>Infirm</div>
    <div>{{numberInput infirm name="infirm" step=1 min=0 max=1000}}</div>
  </div>
  <div class="cs-hex-inv-item">
    <div>Refugees</div>
    <div>{{numberInput refugees name="refugees" step=1 min=0 max=1000}}</div>
  </div>
  <div class="cs-hex-inv-item">
    <div>Total</div>
    <input type="number" value="{{total}}" readonly />
  </div>
</div>