<div class="cs-hex-inv-container">
  <div class="cs-hex-inv-item">
    <div>Food Units</div>
    <div>{{numberInput foodUnits name="foodUnits" step=10 min=0 max=10000}}</div>
  </div>
  <div class="cs-hex-inv-item">
    <div>Medicine</div>
    <div>{{numberInput medicine name="medicine" step=1 min=0 max=5000}}</div>
  </div>
  <div class="cs-hex-inv-item">
    <div>Spices</div>
    <div>{{numberInput spices name="spices" step=1 min=0 max=1000}}</div>
  </div>
  <div class="cs-hex-inv-item">
    <div>Weapons</div>
    <div>{{numberInput weapons name="weapons" step=1 min=0 max=10}}</div>
  </div>
  <div class="cs-hex-inv-item">
    <div>Make Shift Weapons</div>
    <div>{{numberInput makeShiftWeapons name="makeShiftWeapons" step=1 min=0 max=10}}</div>
  </div>
</div>
