<div>
  <div>X: {{gridPos.x}}, Y: {{gridPos.y}}</div>
  <div>
    Move Cost:
    <div>{{cost}}</div>
  </div>

  <div>
    Locale:
    <div>{{localeString}}</div>
  </div>
  
  {{#if isGm}}
    <div>
      Zone:
      <div>{{zoneId}}</div>
    </div>
    <div>
      isDiscovered:
      <div>{{isDiscovered}}</div>
    </div>
  {{/if}}
</div>