<form class="cs-dl3-camp-actions">
  <p>
    <strong>You have {{maxHours}} hours of nightly downtime available.</strong><br>
    <em>Downtime is decreased by Forced March.</em>
  </p>
  <p>
    <strong>Activities marked with a * can be repeated as many times as desired.</strong>
  </p>
  
  {{#each activities}}
    <div class="cs-dl3-activity">
      <div class="cs-dl3-activity-header">
        <div class="cs-dl3-header-left">
          <span class="cs-dl3-activity-title">{{title}} [{{timeCost}} hours]</span>
          <!-- New container for checkmarks; these will appear next to the title -->
          <span class="cs-dl3-checkmark-container"></span>
        </div>
        <span class="cs-dl3-details-toggle clickable-icon">
          <i class="fa-duotone fa-solid fa-circle-caret-down" style="--fa-primary-opacity: 1; --fa-secondary-opacity: 0.4;"></i>
        </span>
        {{#if repeatable}}
          <span class="cs-dl3-activity-repeatable">*</span>
        {{/if}}
      </div>

      <!-- Details appear directly under the header -->
      <div class="cs-dl3-activity-details cs-dl3-hidden">
        {{{details}}}
      </div>
    
      <div class="cs-dl3-activity-options">
        {{#if errorMessage}}
          <div class="cs-dl3-error-message">{{errorMessage}}</div>
        {{else}}
          <div class="cs-dl3-perform-container">
            <select class="cs-dl3-skill-select" {{#unless hasValidPerformSkills}}disabled{{/unless}}>
              {{#each performSkillChoices}}
                <option value="{{this.value}}" {{#if this.disabled}}disabled{{/if}}>
                  {{this.label}}
                </option>
              {{/each}}
            </select>
            <button type="button" class="cs-dl3-activity-action" data-action-index="{{@index}}" {{#unless hasValidPerformSkills}}disabled{{/unless}}>
              Perform Action
            </button>
          </div>
          {{#if aidSkills}}
            <hr class="cs-dl3-divider">
            <div class="cs-dl3-aid-another-container">
              <select class="cs-dl3-aid-skill-select" {{#unless hasValidAidSkills}}disabled{{/unless}}>
                {{#each aidSkillChoices}}
                  <option value="{{this.value}}" {{#if this.disabled}}disabled{{/if}}>
                    {{this.label}}
                  </option>
                {{/each}}
              </select>
              <button type="button" class="cs-dl3-aid-another-action" data-action-index="{{@index}}" {{#unless hasValidAidSkills}}disabled{{/unless}}>
                Aid Another
              </button>
              <div class="cs-dl3-aid-helpers-row"></div>
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
  {{/each}}

  <!-- Submit Button -->
  <div class="cs-dl3-form-footer">
    <button type="submit" class="cs-dl3-submit-button">Submit</button>
  </div>
</form>
