<div class="cs-hex-info-container">
  <div class="cs-hex-info-top-row">
    <div class="cs-hex-info-move-cost">Move Cost: <span>{{cost}}</span></div>
    <div class="cs-hex-info-locale">Locale: <span>{{localeString}}</span></div>
  </div>

  <div class="cs-hex-info-tiles">
    {{#if hasEvents}}
      {{#each events}}
        <div class="cs-hex-info-tile{{#if this.isForaging}} cs-hex-foraging{{/if}}">
          <img src="{{this.icon}}" alt="{{this.name}}">
          <h2>{{this.displayName}}</h2>
          <div class="cs-event-info">
            <p>Name: {{this.displayName}}</p>
            <p>Completed: {{this.isComplete}}</p>
            <p>Cost: {{this.cost}}</p>
            <p>Description: {{this.description}}</p>
            <p>Duration: {{this.duration}}</p>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>
